tensorflow==2.17.0
tensorflow-determinism==0.4.0
numpy
pandas
scikit-learn
scipy
matplotlib
statsmodels
seaborn
ipykernel
mlflow
tqdm
joblib
umap-learn
numba
plotly
cloudpickle
pandera
pytest
black
isort
flake8
kagglehub